div{
    color: antiquewhite;
}

.social{
    padding: 30px ;
    justify-content: space-between;
}

.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem; 
}

.location .phone .email{
    display: flex;
    
}

.footer-contain{
    display: flex;
    justify-content: space-evenly;
}